/* div {
  box-sizing: border-box;
}

body {
  background-color: #d0f2f5;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
}

button,
input {
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
} */
